.organizers {
  background-color: white;
  width: 100%;
  margin: 0 auto;
  min-height: 510px;
  padding: 0 165px 0 0;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

.organizers__picture {
  max-width: 674px;
  max-height: 510px;
  margin-left: 22px;
}

.pic__box {
  overflow:hidden;
}

/*.organizers__picture {
  overflow: hidden;
  background-image: url(../../images/orgss.png);
  width: 674px;
  height: 510px;
  background-repeat: no-repeat;
  background-size: contain;
}последний вариант*/

/*.organizers__pic-box {
  max-height: 510px;
  max-width: 674px;
}*/

.organizers__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.organizers__title {
  font-family: 'NTHarmonica-bold';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
}

.organizers__paragraph-box {
  max-width: 488px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.2px;
}

@media screen and (max-width: 1100px) {
  .organizers {
    padding: 0 80px 0 0;
  }
}

@media screen and (max-width: 978px){
  .organizers {
    padding: 0;
  }
  /*.organizers__picture {
    margin: 0 auto;
  }*/
  /*.organizers__picture {
    position: relative;
    left: -90px;
    width: 512px;
    height: 375px;
  }последний вариант*/
}

@media screen and (max-width: 769px){
  .organizers {
    padding: 0 15px 0 0;
  }
  /*.organizers__picture {
    margin: 0 auto;
    width: 100%;
    height: auto;
  }*/
  /*.organizers__picture {
    position: static;
    display: flex;
    min-height: 325px;
    margin: 0 auto;
    box-sizing: border-box;
  }последний вариант*/
}

/*@media screen and (max-width: 515px){
  .organizers__picture {
    position: relative;
    display: block;
    left: -20px;
    width: 100%;
    max-height: 325px;
  }последний вариант
}*/
