.header {
  height: 70px;
  background-color: #CDE8D3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  width: 100%;
  margin: 0 auto;
  padding: 0 165px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

@media screen and (max-width: 1100px) {
  .header {
    padding: 0 80px;
  }
}

@media screen and (max-width: 835px){
  .header {
    padding: 0 40px;
  }
}

@media screen and (max-width: 769px){
  .header {
    padding: 0 15px;
  }
}

.header__logo {
  max-width: 60px;
  max-height: 65px;
}

@media screen and (max-width: 835px){
  .header__logo {
    max-width: 50px;
    max-height: 55px;
  }
}

@media screen and (max-width: 665px){
  .header__logo {
    max-width: 37px;
    max-height: 40px;
  }
}

@media screen and (min-width: 666px ) {
  .header__navigation-list {
    display: flex;
    list-style-type: none;
    padding: 0;
  }
  .header__list-link:hover {
    background-color:rgba(249, 251, 246, 0.5);
    border-radius: 30px;
  }

  .header__list-link:active {
    background-color:rgba(247, 255, 248, 1);
    border-radius: 30px;
  }
}

.header__list-link{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #263238;

  text-decoration: none;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  margin: 0 50px 0 0;
  padding: 10px;
}

@media screen and (max-width: 835px){
  .header__list-link {
    margin-right: 60px;
    font-size: 14px;
  }
}

.header__no-margin {
  margin-right: 0;
}
